body {
    font-family: 'Cardo', serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.capsule-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}

button {
    padding: 0.5rem;
    margin: 1.5rem;
}

input {
    width: 100%;
    margin-bottom: 1rem;
}

img {
    width: max-content;
}

.top img {
    max-width: 10rem;
    max-height: 10rem;
}

.bottom img {
    max-width: 15rem;
    max-height: 15rem;
}

.tops, .bottoms  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.top, .bottom {
    display: flex;
    max-width: 25%;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.capsule-outfits {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.outfit {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    padding-bottom: 3rem;
}